# Dependencies
node_modules

# Build output
dist
.angular

# IDE
.idea
.vscode

# Git
.git
.gitignore

# Test coverage
coverage

# Nx cache
.nx

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Temporary files
tmp
temp
